<div id="top_nav" class = "navbar navbar-default navbar-fixed-top" role="navigation">
	    <div class = "container-fluid">
		   <div class = "navbar-header">
		       <!--<a href= "#" calss = "navbar-brand btn btn-lg"><img src="whatly1.png" alt="whatly" width="150" height="80"></a>-->
		   	
			<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
			    <span class="sr-only">Toggle navigation</span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
			</button>
			<ul class = "nav navbar-brand navbar-left"><a calss = "btn btn-success btn-lg">Whately</a></ul>
		   </div>
			<div class ="collapse navbar-collapse navHeaderCollapse">
			<!--<ul class = "nav navbar-nav navbar-left"><li><a calss = "btn btn-default btn-lg" href="#">Whatly</a></li></ul>-->
	        <ul class = "nav navbar-nav navbar-right">
	            <li class = "active dropdown"><a href="#" id ='file' class= "dropdown-toggle" data-toggle = "dropdown">File <b class = "caret"></b></a>
			        <ul class = "dropdown-menu">
		                <li><a href="new-engine.php" id='new'>New</a></li>
			            <li class = "dropdown"><a href="#" id='open' class = "btn-default" data-toggle = "modal" data-target="#openModal">Graphs</a></li>
			            <li><a href="#" class="btn-default" data-toggle="modal" data-target="#beLogSaveRejectModal" id = "save-as-submit">Save as</a></li>
						<li><a href="#" class="btn-default" data-toggle="modal" data-target="#beLogSaveRejectModal" id="save-submit">Save</a></li>
						 <li><a href="#" id='print'>Print</a></li>
				    </ul>
		        </li>
			    <li class ="dropdown"><a href="#" id = 'language' class = "dropdown-toggle" data-toggle = "dropdown">Language <b class = "caret"></b></a>
			
			        <ul class = "dropdown-menu">
		                <li><a href="#" id='english' onclick="english(); return false;">English</a></li>
			            <li><a href="#" id='mandarin' onclick="mandarin(); return false;">Mandarin</a></li>
			            <li><a href="#" id='spanish' onclick="spanish(); return false;">Spanish</a></li>
			            <li><a href="#" id='french'  onclick="french(); return false;">French</a></li>
				    </ul>
		        </li>
		        <li class = "dropdown"><a href="#" id= 'help' data-toggle = "modal">Watch demo</a></li>
				<li class = "dropdown"><a href="#" id= 'help' data-toggle = "modal">About</a></li>
				
		        <li class="log-in" id ="log"><a href="#" class="btn btn-lg" data-toggle="modal" data-target="#logInModal" ng-show="true">Log in</a></li>
			    <li class="register" id="reg"><a href="#" class="btn btn-lg" data-toggle="modal" data-target="#registerModal" ng-show="true">Register</a></li>
			    <!--  <li class="hiUser" id ="hi" ng-controller="loginCtrl"><a href="#" class="btn btn-lg" ng-model="test" ng-show="true">Hi {{test}}</a></li> -->
			    <li class="hiUser" id ="hi" ng-controller="checkLogCtrl"><a href="#" class="btn btn-lg" ng-show="true">Hi {{userLogMessage()}} </a></li>
			    <li class="logOut" id="logOut"><a href="#" class="btn btn-lg" ng-show="userLoged.username != null ">Log out</a></li>
			   
		    </ul>
	        </div>
		</div>
	</div>