<!--Before log in save reject-->
	<div class="modal fade" id="beLogSaveRejectModal" tabindex="-1" role="dialog" aria-labelledby="beLogSaveRejectLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
					<h4 class="modal-title" id="beLogSaveRejectLabel"></h4>
				</div>
				<div class="modal-body">
					<p id='save-as-confirm-p'>Please log in before saving the graph.</p>
				</div>
			</div>
		</div>
	</div>