<div class="modal fade" id="openModal" tabindex="-1" role="dialog" aria-labelledby="openLabel" aria-hidden="true" ng-controller="graphOpenCtrl">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
					<h4 class="modal-title" id="openLabel">Open and remove graphs</h4>
				</div>
				<div class="modal-body" >
				    <div class="table-responsive">
					    <table class="table" id="myTable">
						    <thead>
							    <tr>
								    <th>Open</th>
									<th>Remove</th>
								</tr>
							</thead>
							<tbody id= "graphList">
								<tr ng-repeat="graphs in userGraphs" id = "open-click">
								    <td><a href="#" class = "btn-default">{{graphs.title}}</a></td>
								    <td><a href = "#" class = "btn-default"><span class="glyphicon glyphicon-trash"></span></a></td>
								</tr>
							</tbody>
						</table>
				    </div>
				</div>
			</div>
		</div>
	</div>