<div class="modal fade" id="openModal" tabindex="-1" role="dialog" aria-labelledby="openLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
					<h4 class="modal-title" id="openLabel">Open graphs</h4>
				</div>
				<div class="modal-body" >
				    <div class="table-responsive">
					    <table class="table" id="myTable">
						    <thead>
							    <tr>
								    <th>Graph name</th>
									<th>Remove the graph</th>
								</tr>
							</thead>
							<tbody id= "graphList">
							
							</tbody>
						</table>
				    </div>
				</div>
			</div>
		</div>
	</div>