<!--Remove confirm modal-->

    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labeledby="removeLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeRemove">X</button>
						<h4 class="modal-title" id="removeLabel"></h4>
					</div>
					<div class="modal-body">
						<form name="save-form" action="remove-engine.php" method="POST" class="pure-form" id = "form-save"; >
							<div>
								<p id= 'save-p'>Are you sure you want to remove the graph?</p>
								<input type="hidden" placeholder="Title" name="title-remove" id="title-remove">
							</div>
							<!--<div>
								<input type="text" placeholder="Count" name="count" id="count-save">
							</div>-->
							<!--<input type="submit" value="Save" id = "save-submit">-->
							<button type="submit" class="btn btn-info btn-lg" value="Save">Remove</button>
						</form>
					</div>
				</div>
			</div>
		</div>	