<!--Save reject Modal window-->

	<div class="modal fade" id="saveRejectModal" tabindex="-1" role="dialog" aria-labelledby="saveRejectLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
					<h4 class="modal-title" id="saveRejectLabel"></h4>
				</div>
				<div class="modal-body">
					<p id='save-as-confirm-p'>Since you haven't saved this graph before you have to click on save as for saving this graph .</p>
				</div>
			</div>
		</div>
	</div>