<!--Save modal window-->
		<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labeledby="saveLabel" aria-hidden="true" ng-controller="graphSaveCtrl" ng-click="turnSaveOn()" data-ng-init="init()">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
						<h4 class="modal-title" id="saveLabel"></h4>
					</div>
					<div class="modal-body">
						<form name="save-form" class="pure-form" ng-submit="graphSaveSubmit()" novalidate>
							<div>
								<span style="color:blue" ng-if="graphSaved==false"><!-- Please click on save to save the graph: -->{{regLang.saveModPlease}}</span>
							</div> 
							

							<button type="submit" class="btn btn-info btn-lg" id="saveSubmit" ng-if="graphSaved==false"><!-- Save -->{{regLang.saveModButton}}</button>

							<span style="color:green" ng-if="graphSaved==true"> <!-- You have successfully saved your graph! -->{{regLang.saveModeSuccessMes}}</span>
							<span style="color:red" ng-if="newGraphOpened==true"> <!-- You have successfully saved your graph! -->{{regLang.saveModGoSaveAs}}</span>
						</form>
					</div>
				</div>
			</div>
		</div>