<!--Save as modal window-->
	<div class="modal fade" id="saveAsModal" tabindex="-1" role="dialog" aria-labelledby="saveAsLabel" aria-hidden="true" ng-controller="graphSaveAsCtrl" ng-click="turnSaveAsOn()">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="turnSaveAsOn()">X</button>
					<h4 class="modal-title" id="saveAsLabel">Save as</h4>
				</div>
				<div class="modal-body">
					<form name="save-as-form" class="pure-form form" ng-submit="graphSaveAsSubmit()" novalidate>
						<div class="form-group">
							<p id = 'save-as-p' ng-if="graphSavedAs==false">Please enter a title for your graph:</p>
							<input type="text" placeholder="Title" name="title" id="title-save-as" class="form-control" ng-model="formData.graphTitle" ng-if="graphSavedAs==false">
						</div> 
				
							
						<button type="submit" class="btn btn-info btn-lg" id="saveAsSubmit" ng-if="graphSavedAs==false">Save</button>

                        <span style="color:green" ng-if="graphSavedAs==true"> You have successfully saved your graph!</span>

					</form>
				</div>
			</div>
		</div>
	</div>